<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
         <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script>
        var socket = io();
        </script>
    </head>
    <!-- <body> Socket.emit('serverEmit') : On émet un event -->
<!-- Socket.on('nomdelevent', data() {

}) 
    </body> -->

    <body>
       <script>
         socket.on('hello', function(){ 
            console.log("Stp marche putain")
         }); // listen to the event
         </script>
            <!-- <div id="gamecontainer">
               <div id="gamescreen">
                  <div id="sky" class="animated">
                     <div id="flyarea">
                        <div id="ceiling" class="animated"></div>
                        <div id="player" class="bird animated"></div>
      
                        <div id="bigscore"></div>
      
                        <div id="splash"></div>
      
                        <div id="scoreboard">
                           <div id="medal"></div>
                           <div id="currentscore"></div>
                           <div id="highscore"></div>
                           <div id="replay"><img src="assets/replay.png" alt="replay"></div>
                        </div>
      
                     </div>
                  </div>
                  <div id="land" class="animated"><div id="debug"></div></div>
               </div>
            </div>
            <div id="footer">
               <a href="http://www.dotgears.com/">original game/concept/art by dong nguyen</a>
               <a href="http://nebezb.com/">recreated by nebez briefkani</a>
               <a href="http://github.com/nebez/floppybird/">view github project</a>
            </div>
            <div class="boundingbox" id="playerbox"></div>
            <div class="boundingbox" id="pipebox"></div>
      
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery.transit.min.js"></script>
            <script src="js/buzz.min.js"></script>
            <script src="js/main.js"></script> -->
            <!-- <script src="../nodebot/blink.js"></script> -->
         </body>
</html>